body,
html {
  position: relative;
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  background-attachment: scroll;
  background-size: cover;
  background-color: #fff !important;
}

* {
  margin: 0px;
  padding: 0px;

}

#bgvid2 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh !important;
  top: 0;
  z-index: -35;
  overflow-x: hidden !important;

  overflow-y: hidden !important;
  object-fit: cover;
  min-width: 100vw;
  background: fill;
}

#contact-landing {
  overflow-x: hidden !important;
  width: 100%;
  height: 100vh;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65696d', endColorstr='#007db9e8', GradientType=0);
  /* IE6-9 */
  position: relative;
}

#contact-landing .landing-header {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
}

.landing-header .heading {
  font-family: 'source-sans-pro', sans-serif;
  font-size: 10.5vh;
  line-break: loose;
  position: relative;
  width: 100%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translateX(-50%);
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #fff, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #bbb, 0px 8px 1px #777, 0px 9px 1px #444,
    0px 10px 20px #000;
  width: 100vw;
}

.jumbo-heading {
  font-family: 'source-sans-pro', sans-serif;
  font-size: 10.5vh;
  line-break: loose;
  position: relative;
  width: 100vw;
  left: 50%;
  text-align: center;
  color: white;
  transform: translateX(-50%);
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #fff, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #bbb, 0px 8px 1px #777, 0px 9px 1px #444,
    0px 10px 20px #D8DCE0;
}

.section-heading {
  text-align: center;
  padding-bottom: 2vh;
}

#contact-third-page .thirdpage-header {
  text-align: center;
  transform: translateY(50%);
  position: relative;
}

.contact-option-paragraph {
  opacity: 0;
  position: relative;
  z-index: 1;
  padding: 40px 20px;
  color: var(--primarytextcolor);
  background-color: var(--darkestblue);
  text-align: center;
  transition: 0.4s;
  border-bottom: 0px solid var(--accentcolor);
  transition-timing-function: cubic-bezier(0.4, -0.5, 0, 1.2);
  animation: fade-in-contact-box;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: ease-in;
}

#contact-options .col-lg-4:nth-child(1) .triplet-about-box {
  animation-delay: 0.25s;
}

#contact-options .col-lg-4:nth-child(2) .triplet-about-box {
  animation-delay: 0.5s;
}

#contact-options .col-lg-4:nth-child(3) .triplet-about-box {
  animation-delay: 0.75s;
}

.contact-icon {
  text-align: center;
  font-size: 4vh;
  padding-bottom: 25px;
  align-content: center;
  color: var(--darkorange);

  position: relative;
}

.contact-icon i {
  color: var(--primary);
  cursor: pointer;
}

.contact-icon i:hover {
  color: var(--darkorange);
}

@keyframes fade-in-contact-box {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contact-options {
  align-content: center;
}

.side-paragraph {
  position: relative;
  font-size: 2.5rem;
  top: 50%;
  padding: 2%;
  transition: 0.5s;
  overflow-x: visible !important;

}

#options-container {
  position: relative;
  margin-top: -10%;
  background-color: rgba(18, 28, 29, 0.527);
  padding-bottom: var(--defaultpadding);
  overflow: hidden;
}

#options-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  background-color: var(--primary);
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 10px 0px 1px var(--darkorange), -10px 0px 1px var(--darkorange);
  opacity: .45;
}

/* @import url(https://fonts.googleapis.com/css?family=Roboto:100);
body {
-webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
} */
/* 
* {
transition: all 500ms;
}
*/


/* #sign {
padding: 3vw;
width: 25%;
left: 70%;
right:30%;
position: relative;
border-radius: 50%;

display: flex;
justify-content: center;
align-content: flex-end;
-webkit-transform: rotate(15deg);
        transform: rotate(15deg);
background: var(--darkestblue);
text-align: center;

}

.Neon {
color: rgba(255, 255, 255, 0.4);
font-size: 6vw;
font-weight: 100;
text-shadow: 0.1vw 0vw 0.25vw #F0D6DE, 0.2vw 0vw 0.25vw #F0D6DE, 0.4vw 0vw 0.25vw #F0D6DE, 0.1vw 0vw 0.1vw #F181B2, 0.2vw 0vw 0vw #F181B2, 0.4vw 0vw 0vw #F181B2, 0.1vw 0vw 0.1vw #F181B2, 0.2vw 0vw 0.1vw #F181B2, 0.4vw 0vw 0vw #F181B2, 0.1vw 0vw 1vw #F181B2, 0.2vw 0vw 2vw #F181B2, 0.4vw 0vw 2vw #F181B2, 0.2vw 0vw 5vw #F181B2, 0.1vw 0vw 0.5vw #F20B70, 0.2vw 0vw 0.5vw #F20B70, 0.4vw 0vw 6vw #F20B70, 0.1vw 0vw 4vw #F20B70, 0.2vw 0vw 20vw #F20B70, 0.4vw 0vw 10vw #F20B70, 0.1vw 0vw 10vw #F20B70, 0.2vw 0vw 30vw #F20B70, 0.4vw 0vw 10vw #F20B70;}

#N {
-webkit-animation: power 100ms 0s 6 cubic-bezier(1, 0, 1, 0), flicker 3s 1600ms infinite alternate;
        animation: power 100ms 0s 6 cubic-bezier(1, 0, 1, 0), flicker 3s 1600ms infinite alternate;
}

#E {
-webkit-animation: power 300ms 0s 2 cubic-bezier(1, 0, 1, 0), flicker 2s 600ms infinite alternate;
        animation: power 300ms 0s 2 cubic-bezier(1, 0, 1, 0), flicker 2s 600ms infinite alternate;
}

#O {
-webkit-animation: power 200ms 0s 4 cubic-bezier(1, 0, 1, 0), flicker 5s 800ms infinite alternate;
        animation: power 200ms 0s 4 cubic-bezier(1, 0, 1, 0), flicker 5s 800ms infinite alternate;
}

#N2 {
-webkit-animation: power 400ms 0s 4 cubic-bezier(1, 0, 1, 0), flicker 10s 1600ms infinite alternate;
        animation: power 400ms 0s 4 cubic-bezier(1, 0, 1, 0), flicker 10s 1600ms infinite alternate;
}

@-webkit-keyframes flicker {
0% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
5% {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5), 5px 5px 5px rgba(255, 0, 0, 0.5), -5px -5px 5px rgba(255, 0, 0, 0.5), -5px 5px 5px rgba(255, 0, 0, 0.5), 5px -5px 5px rgba(255, 0, 0, 0.5), 0px -5px 5px rgba(255, 0, 0, 0.5), 5px 0px 5px rgba(255, 0, 0, 0.5), 0px 5px 5px rgba(255, 0, 0, 0.5), 0px 0px 15px #fff;
}
7% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
11% {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5), 5px 5px 5px rgba(255, 0, 0, 0.2), -5px -5px 5px rgba(255, 0, 0, 0.5), -5px 5px 5px rgba(255, 0, 0, 0.2), 5px -5px 5px rgba(255, 0, 0, 0.5), 0px -5px 5px rgba(255, 0, 0, 0.5), 5px 0px 5px rgba(255, 0, 0, 0.2), 0px 5px 5px rgba(255, 0, 0, 0.5), 0px 0px 15px #fff;
}
15% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
60% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
75% {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5), 5px 5px 5px rgba(255, 0, 0, 0.5), -5px -5px 5px rgba(255, 0, 0, 0.5), -5px 5px 5px rgba(255, 0, 0, 0.5), 5px -5px 5px rgba(255, 0, 0, 0.5), 0px -5px 5px rgba(255, 0, 0, 0.5), 5px 0px 5px rgba(255, 0, 0, 0.5), 0px 5px 5px rgba(255, 0, 0, 0.5), 0px 0px 15px #fff;
}
85% {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.8), 5px 5px 5px rgba(255, 0, 0, 0.5), -5px -5px 5px rgba(255, 0, 0, 0.8), -5px 5px 5px rgba(255, 0, 0, 0.5), 5px -5px 5px rgba(255, 0, 0, 0.8), 0px -5px 5px rgba(255, 0, 0, 0.5), 5px 0px 5px rgba(255, 0, 0, 0.8), 0px 5px 5px rgba(255, 0, 0, 0.8), 0px 0px 15px #fff;
}
}

@keyframes flicker {
0% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
5% {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5), 5px 5px 5px rgba(255, 0, 0, 0.5), -5px -5px 5px rgba(255, 0, 0, 0.5), -5px 5px 5px rgba(255, 0, 0, 0.5), 5px -5px 5px rgba(255, 0, 0, 0.5), 0px -5px 5px rgba(255, 0, 0, 0.5), 5px 0px 5px rgba(255, 0, 0, 0.5), 0px 5px 5px rgba(255, 0, 0, 0.5), 0px 0px 15px #fff;
}
7% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
11% {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5), 5px 5px 5px rgba(255, 0, 0, 0.2), -5px -5px 5px rgba(255, 0, 0, 0.5), -5px 5px 5px rgba(255, 0, 0, 0.2), 5px -5px 5px rgba(255, 0, 0, 0.5), 0px -5px 5px rgba(255, 0, 0, 0.5), 5px 0px 5px rgba(255, 0, 0, 0.2), 0px 5px 5px rgba(255, 0, 0, 0.5), 0px 0px 15px #fff;
}
15% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
60% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
75% {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5), 5px 5px 5px rgba(255, 0, 0, 0.5), -5px -5px 5px rgba(255, 0, 0, 0.5), -5px 5px 5px rgba(255, 0, 0, 0.5), 5px -5px 5px rgba(255, 0, 0, 0.5), 0px -5px 5px rgba(255, 0, 0, 0.5), 5px 0px 5px rgba(255, 0, 0, 0.5), 0px 5px 5px rgba(255, 0, 0, 0.5), 0px 0px 15px #fff;
}
85% {
  text-shadow: 0px 0px 15px rgba(255, 0, 0, 0.8), 5px 5px 5px rgba(255, 0, 0, 0.5), -5px -5px 5px rgba(255, 0, 0, 0.8), -5px 5px 5px rgba(255, 0, 0, 0.5), 5px -5px 5px rgba(255, 0, 0, 0.8), 0px -5px 5px rgba(255, 0, 0, 0.5), 5px 0px 5px rgba(255, 0, 0, 0.8), 0px 5px 5px rgba(255, 0, 0, 0.8), 0px 0px 15px #fff;
}
}
@-webkit-keyframes sign {
0% {
  box-shadow: 0px 0px 10px #fff, 5px 5px 5px #00f, -5px -5px 5px #00f, -5px 5px 5px #00f, 5px -5px 5px #00f, 0px -5px 5px #00f, 5px 0px 5px #00f, 0px 5px 5px #00f, 0px 0px 15px #fff;
}
50% {
  box-shadow: 0px 0px 15px #fff, 5px 5px 15px #00f, -5px -5px 25px #00f, -5px 5px 15px #00f, 5px -5px 10px #00f, 0px -5px 15px #00f, 5px 0px 10px #00f, 0px 5px 5px #00f, 0px 0px 15px #fff;
}
}
@keyframes sign {
0% {
  box-shadow: 0px 0px 10px #fff, 5px 5px 5px #00f, -5px -5px 5px #00f, -5px 5px 5px #00f, 5px -5px 5px #00f, 0px -5px 5px #00f, 5px 0px 5px #00f, 0px 5px 5px #00f, 0px 0px 15px #fff;
}
50% {
  box-shadow: 0px 0px 15px #fff, 5px 5px 15px #00f, -5px -5px 25px #00f, -5px 5px 15px #00f, 5px -5px 10px #00f, 0px -5px 15px #00f, 5px 0px 10px #00f, 0px 5px 5px #00f, 0px 0px 15px #fff;
}
}
@-webkit-keyframes power {
0% {
  text-shadow: none;
}
100% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
}
@keyframes power {
0% {
  text-shadow: none;
}
100% {
  text-shadow: 0px 0px 15px #f00, 5px 5px 5px #f00, -5px -5px 5px #f00, -5px 5px 5px #f00, 5px -5px 5px #f00, 0px -5px 5px #f00, 5px 0px 5px #f00, 0px 5px 5px #f00, 0px 0px 15px #fff;
}
}
@-webkit-keyframes power-sign {
0% {
  box-shadow: none !important;
}
100% {
  box-shadow: 0px 0px 15px #00f, 5px 5px 5px #00f, -5px -5px 5px #00f, -5px 5px 5px #00f, 5px -5px 5px #00f, 0px -5px 5px #00f, 5px 0px 5px #00f, 0px 5px 5px #00f, 0px 0px 15px #fff;
}
}
@keyframes power-sign {
0% {
  box-shadow: none !important;
}
100% {
  box-shadow: 0px 0px 15px #00f, 5px 5px 5px #00f, -5px -5px 5px #00f, -5px 5px 5px #00f, 5px -5px 5px #00f, 0px -5px 5px #00f, 5px 0px 5px #00f, 0px 5px 5px #00f, 0px 0px 15px #fff;
}
} */
#open-sign {
  width: 25%;
  left: 90%;
  right: 20%;
  margin-top: 10vh;
  z-index: 10;
  position: relative;
}

@font-face {
  font-family: 'neontubes';
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vw;
  height: auto;
  font-family: "neontubes";
  font-size: 8vw;
  text-align: center;
  white-space: nowrap;
}

.logo span {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: opacity;
}

.logo .open {
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 4s infinite alternate;
}

.logo .hrs {
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  font-size: 11vw;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@media screen and (min-width: 1000px) {
  .logo {
    width: 200px;
    font-size: 75px;
  }

  .logo .hrs {
    font-size: 51.53px;
  }
}

.landing-header .subheading {
  font-family: 'source-sans-pro', sans-serif;
  margin-top: 3%;
  text-align: center;
  font-size: 5.5vh;
  color: white;
}

#booking::before {
  height: 100vh;
  width: 100%;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('../imgs/about-bg.jpg');
  z-index: -100;
  background-size: cover;
  filter: blur(5px) brightness(0.7);

  transform: scale(1.2);
}

#booking {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  margin-top: -4.5vh;
  position: relative;
}

.cal-icon {
  font-size: 10vw;
  transform: translateX(-50%);
  left: 50%;
  padding-bottom: 4vh;
  padding-top: 10vh;

  position: relative;

}

.heading-section {
  position: relative;
  z-index: -1;
  margin-bottom: 5vh;
  height: 17%;
  margin-top: 125px;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.contact-info-heading-section {
  position: relative;
  z-index: -1;
  height: 10%;
  margin-bottom: 25px;
  margin-top: 125px;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.booking-heading {
  margin-bottom: 2.5%;
  padding-bottom: 50px;
}

.booking-heading .heading::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 0px;
  top: auto;
  bottom: -1vh;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
}

.booking-heading .heading {
  font-family: 'source-sans-pro', sans-serif;
  font-size: 4vw;
  line-break: loose;
  position: relative;
  width: 70%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translateX(-50%);
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #fff, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #bbb, 0px 8px 1px #777, 0px 9px 1px #444,
    0px 10px 20px #000;
}

.booking-heading .subheading {
  font-family: 'source-sans-pro', sans-serif;
  margin-top: 3%;
  text-align: center;
  color: white;
}

.contact-info-heading .heading {
  font-family: 'source-sans-pro', sans-serif;
  font-size: 5vh;
  line-break: loose;
  position: relative;
  width: 100%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translateX(-50%);
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #fff, 0px 2px 1px #d6d6d6, 0px 3px 1px #ccc, 0px 4px 1px #c5c5c5, 0px 5px 1px #c1c1c1, 0px 6px 1px #bbb, 0px 7px 1px #bbb, 0px 8px 1px #777, 0px 9px 1px #444,
    0px 10px 20px #000;
}

.contact-info-heading .subheading {
  font-family: 'source-sans-pro', sans-serif;
  margin-top: 3%;
  text-align: center;
  color: white;
}

#booking .booking-info {
  font-family: 'Work Sans', sans-serif;
  position: relative;
  top: 5%;
  left: 50%;
  font-size: 2vw;
  width: 90%;
  padding: 5vw;
  text-align: center;
  background-color: #2d3d55;
  transform: translateX(-50%);
}

a {
  color: white;

}

.social-header h1 {
  font-family: 'source-sans-pro', sans-serif;
  margin-top: 3%;
  text-align: center;
  color: #2d3d55;
}

.socials-container {
  margin-top: 20vh;
}

.social-ex-container {
  margin-top: 30vh;
}

.single-service-area {
  position: relative;
  z-index: 1;
  padding: 40px 20px;

  border: 1px solid #e5e5e5;
  text-align: center;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-service-area {
    padding: 30px 15px;
    align-self: center;
  }
}

.single-service-area img {
  display: inline-block;
  margin-bottom: 15px;
  width: 35%;
  height: 45%;
}

.single-service-area h5 {
  font-size: 22px;
  margin-bottom: 10px;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-service-area h5 {
    font-size: 18px;
  }

  #contact-info .container {
    top: 10%;
  }

  #contact-intro .container {
    top: 10%;
  }
}


.single-service-area p {
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-service-area p {
    font-size: 14px;
  }
}

.single-service-area:hover,
.single-service-area:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
  box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
}

.single-service-area:hover h5,
.single-service-area:focus h5 {
  color: #bca858;
}

.single--service--item {
  position: relative;
  z-index: 1;
}

.single--service--item .service-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .single--service--item .service-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  #contact-info .container {
    top: 10%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 576px) {
  #contact-info .container {
    top: 5%;
  }

  #contact-intro .container {
    top: 5%;
  }
}

.single--service--item .service-content .service-text {
  margin-left: auto;
  width: 555px;
  padding: 80px 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single--service--item .service-content .service-text {
    width: 455px;
  }

  .social-ex-container {
    margin-top: 20vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single--service--item .service-content .service-text {
    width: 345px;
  }

  #contact-info .container {
    top: 0%;
  }

}


@media only screen and (max-width: 767px) {
  .single--service--item .service-content .service-text {
    width: 100%;
    padding: 80px 30px;
  }
}

.single--service--item .service-content .service-text h2 {
  font-size: 42px;
  display: block;
  margin-bottom: 40px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single--service--item .service-content .service-text h2 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single--service--item .service-content .service-text h2 {
    font-size: 30px;
  }

}

@media only screen and (max-width: 767px) {
  .single--service--item .service-content .service-text h2 {
    font-size: 24px;
  }

}

.single--service--item .service-content .service-text p {
  margin-bottom: 30px;
  display: block;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.single--service--item .service-content .service-text p span:last-child {
  font-weight: 600;
  color: #252525;
}

.single--service--item .service-content .service-text p:last-child {
  margin-bottom: 0;
}

.single--service--item .service-thumbnail {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
  height: 500px;
}

@media only screen and (max-width: 767px) {
  .single--service--item .service-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    height: 300px;
  }
}

.single--service--item.odd-item .service-content .service-text {
  margin-left: 15%;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .single--service--item.odd-item .service-content .service-text {
    margin-left: auto;
  }
}

.akame-service-area {
  position: relative;
  z-index: 1;
}

.akame-service-area .single--service--item:first-child {
  border-top: 1px solid #e5e5e5;
}

.akame-service-area .single--service--item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

#contact-info {
  max-height: 350vh;
  min-height: 100vh;

  height: 200%;
  position: relative;
  margin-top: -3vh;
  width: 100%;

}

#contact-info .container {
  position: relative;
  width: 100%;
  top: 10%;
  transform: translateY(-50%);
  text-align: center;
}


#contact-info .content {
  width: 320px;
  height: 240px;
  display: inline-block;
  background: #3498db;
  margin: 10px;

  color: white;
  position: relative;
  cursor: pointer;
}

#contact-info .content:hover i {
  transform: translateY(-40px);
}

#contact-info .content i {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;

  height: 100%;
  font-size: 50px;
  line-height: 140px;
  background: #34495e;
  z-index: 1;
  transition: transform 0.6s;
}

.container .social-ex-container {
  top: 50%;
  position: relative;
}

@media (orientation: portrait) {
  .social-ex-container {
    top: 30%;
  }
}

#contact-info .content span {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 0;
}

#contact-info .about-paragraph {
  font-family: 'Work Sans', sans-serif;
  position: relative;
}

#contact-info .about-paragraph .side-paragraph {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

@media (orientation: portrait) {
  #contact-info .content {
    width: 220px;
    height: 140px;
    display: inline-block;
    background: #3498db;
    margin: 20px;

    color: white;
    position: relative;
    cursor: pointer;
  }

  .social-ex-container {
    margin-top: 50vh;
  }

  #contact-info .container {
    top: 10%;
  }
}

@media (max-width: 561px) {
  #contact-info .container {
    top: 18%;
  }
}