#faq {
  margin-top: 5vh;
  position: relative;
}
.faq_section{
	margin:40px auto;
}
.FaQ_Each{
	padding-bottom: 10px;
}
.box  {
  background: gray;
  /* color: #666666; */
  color: white;
  padding-top: 15px;
  padding-bottom:15px;
  padding-left: 20px;
  font-size: 13px;
  text-transform: none;
  cursor:pointer;
  /* border: 1px solid #d9d9d9; */
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.13), 0 0px 7px rgba(0,0,0,0.16);
  border-bottom: 5px solid #2e1b2a;
}
.draw {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #000000;
  padding-left: 30px;
}
#other{
	display: none;
}
.faq-icon {
  color: #2e1b2a;
}
.faq-icon-dropped {
  color: #180f16;
}
.heading h1 {
  font-size: 4.5vw !important;
  text-align: center;
  top: 7%;
  padding-bottom: 50px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  line-break: loose;
}