/* This class is added on scroll */
.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 999 !important;
}

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 70px;
	background: rgba(10, 50, 59, 0.903);
	z-index: 999 !important;
}

nav .nav-link {
	display: inline-block;
	padding: 24px 10px;
	text-align: center;
}

nav .nav-link.active {
	cursor: default;
}

nav .nav-link a {
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
}

@media (orientation: portrait) {

	nav .nav-link {
		padding: 24px 4px;
		text-align: center;

	}

	nav li a {
		font-size: 2vw;
	}

}