
a {
  text-decoration: none;
}


.nav-logo {
  height:40px;
}

.navbar-brand {
  font-family: sans-serif;
  font-weight:bold;
}

.navbar {
	border: 1px solid #ccc;
	background-color: rgba(204, 204, 204, 0.8);
}

.airbnb {
  font-weight:700;
  font-family:sans-serif;
  color:#FF5A5F;
}

.air-descrip {
  letter-spacing: -0.8px;
}



.nav-link a {
	color: black !important;
	font-size: 1.5em;
  font-family: "Open Sans";
}
