
.vertical-side-text {
    position: fixed;
    font-family: 'Kreon', sans-serif;
    left: -15.75rem;
    font-size: 1.4rem;
    bottom: 15rem;
    float: left;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    -moz-transform: rotate(-90deg);  /* FF3.5+ */
    -o-transform: rotate(-90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */
    -moz-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 0%;
      z-index: 9999;
  }
  