@font-face {
  font-family: 'icomoon';
  src:  url('https://d1azc1qln24ryf.cloudfront.net/37364/MeasuredArchitecture/icomoon.eot?6kq0t5');
  src:  url('https://d1azc1qln24ryf.cloudfront.net/37364/MeasuredArchitecture/icomoon.eot?6kq0t5#iefix') format('embedded-opentype'),
    url('https://d1azc1qln24ryf.cloudfront.net/37364/MeasuredArchitecture/icomoon.woff2?6kq0t5') format('woff2'),
    url('https://d1azc1qln24ryf.cloudfront.net/37364/MeasuredArchitecture/icomoon.ttf?6kq0t5') format('truetype'),
    url('https://d1azc1qln24ryf.cloudfront.net/37364/MeasuredArchitecture/icomoon.woff?6kq0t5') format('woff'),
    url('https://d1azc1qln24ryf.cloudfront.net/37364/MeasuredArchitecture/icomoon.svg?6kq0t5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share-email:before {
  content: "\e903";
}
.icon-share-facebook:before {
  content: "\e904";
}
.icon-share-googleplus:before {
  content: "\e905";
}
.icon-share-linkedin:before {
  content: "\e906";
}
.icon-share-twitter:before {
  content: "\e907";
}
.icon-view:before {
  content: "\e902";
}
.icon-arrow-top:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-checkmark:before {
  content: "\e90a";
}
.icon-tick:before {
  content: "\e90a";
}
.icon-correct:before {
  content: "\e90a";
}
.icon-accept:before {
  content: "\e90a";
}
.icon-ok:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-brand:before {
  content: "\e900";
}
.icon-social:before {
  content: "\e900";
}
